{% extends 'layouts/master.html' %}

{% load static %}

{% block title %}
Address PMS | Users
{% endblock title %}




{% block styles %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<style>
    .action li {
        display: inline;
    }

    .action li a {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
        line-height: 1.5;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /* table {
            text-align: center;
        } */
    table th {
        font-size: 15px;
    }

    li .page {
        background-color: #d9dce0 !important;
        color: #0b0b0b !important;
    }

    li.active .page {
        background-color: #2c7be5 !important;
        color: #efeff5 !important;
    }

    .page {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }

    .btn-falcon-default .page {
        color: var(--falcon-btn-falcon-default-color);
        background-color: var(--falcon-btn-falcon-background);
        border-color: var(--falcon-btn-falcon-background);
        -webkit-box-shadow: var(--falcon-btn-falcon-box-shadow);
        box-shadow: var(--falcon-btn-falcon-box-shadow);
    }

</style>
{% endblock styles %}




{% block content %}
<div class="card mb-3">

    <div class="card-header bg-light">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">
                    <span class="fas fa-user-friends fs-1 me-2"></span>Customer's List
                </h5>
            </div>
            <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                <div class="d-none" id="orders-bulk-actions">
                    <div class="d-flex"><select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-konnect-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>
                <div id="orders-actions">
                    <a href="{% url 'users:user-create' %}" class="btn btn-konnect-default btn-sm" type="button">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">New</span>
                    </a>
                    <button class="btn btn-konnect-default btn-sm mx-2" type="button">
                        <span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">Filter</span>
                    </button>
                    <a href="" class="btn btn-konnect-default btn-sm" type="button">
                        <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">Export</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="table-responsive">

            <div>
                <form class="d-flex justify-content-between mb-3">
                    <div class="col-md-6">
                        <!-- <p>Show
                            <select aria-label="Default select example" name="products_per_page">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            entries
                        </p> -->
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" type="search" name="search" placeholder="Search..."
                                aria-label="Search" value="{{ request.GET.search }}">
                            <button class="btn btn-outline-secondary" type="submit"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>

            <table width="100%" class="table table-bordered table-striped fs--1 mb-0">
                <thead class="bg-200 text-900">
                    <tr>
                        <th>No</th>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Email/Phone</th>
                        <th class="text-center">User Type</th>
                        <th class="text-center">Verification</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                {% for user in page_obj %}
                <tr>
                    <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>
                        {% if user.user_img %}
                        <div class="avatar avatar-4xl">
                            <a href="{{ user.user_img.url }}" data-gallery="gallery-2">
                                <img class="img-fluid rounded" src="{{ user.user_img.url }}" alt="" width="300" />
                              </a>
                        </div>
                        {% else %}
                        <div class="avatar avatar-3xl">
                            <a href="{% static 'assets/img/default.jpg' %}" data-gallery="gallery-2">
                                <img class="img-fluid rounded" src="{% static 'assets/img/default.jpg' %}" alt="" width="300" />
                              </a>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <span class="badge badge-soft-dark fs--1">{{ user.name }}</span><br>
                        <span class="badge badge-soft-light">{{ user.created_at }}</span>
                    </td>
                    <td>
                        <span class="badge bg-light text-dark fs--2">{{ user.email }}</span><br>
                        <span class="badge bg-light text-dark fs--2">{{ user.phone }}</span>
                    </td>
                    <td>
                        {% if user.user_type == 'customer' %}
                        <span class="badge badge-soft-secondary fs--1 w-100">Customer</span>
                        {% else %}
                        <span class="badge badge-soft-warning fs--1 w-100">Seller</span>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if user.is_verified %}
                        <!-- <span class="badge bg-success">Varified</span> -->
                        <i class="fa-solid fa-check text-success fs-3"></i>
                        {% else %}
                        <!-- <span class="badge bg-danger">Unverified</span> -->
                        <i class="fa-solid fa-xmark text-danger fs-3"></i>
                        {% endif %}
                    </td>

                    <td>
                        <ul class="action text-center p-0">
                            <li>
                                <a class="text-primary me-2" href="{% url 'users:user-details' user.id %}">
                                    <span class="fas fa-eye text-primary" data-fa-transform="grow-2"></span>
                                </a>
                            </li>

                            <li>
                                <a class="text-primary me-2" href="{% url 'users:user-update' user.id %}">
                                    <span class="fas fa-edit text-warning" data-fa-transform="grow-2"></span>
                                </a>
                            </li>

                            <li>
                                <a class="text-danger cursor-pointer" data-bs-toggle="modal"
                                    data-bs-target="#deleteUser{{user.id}}">
                                    <span class="fas fa-trash text-danger" data-fa-transform="grow-2"></span>
                                </a>
                            </li>
                            {% include 'users/user/delete.html' %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <!-- Pagination snd Counting -->
    <div class="card-footer bg-light">
        <div class="row justify-content-between">

            <!-- Counting -->
            <div class="col-md-6 ms-3">
                <strong>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ products_count }}</strong>
                <!-- <h5>{{page_range}}</h5> -->
            </div>

            <!-- Pagination -->
            <div class="col-md-2 me-3">
                <nav aria-label="Page navigation example">
                    {% if page_obj.has_other_pages %}
                        <div class="d-flex align-items-center justify-content-end">
            
                            {% if page_obj.has_previous %}
                                <a class="btn btn-sm btn-falcon-default me-1" title="Previous" href="?page={{ page_obj.previous_page_number }}">
                                    <span class="fas fa-chevron-left"></span>
                                </a>
                            {% else %}
                                <button class="btn btn-sm btn-falcon-default me-1" title="Previous" data-list-pagination="prev" disabled>
                                    <span class="fas fa-chevron-left"></span>
                                </button>
                            {% endif %}
            
                            <ul class="pagination mb-0">
                                {% for i in page_range %}
                                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                                        <a class="btn btn-sm btn-falcon-default me-1 mb-1 page" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
            
                            {% if page_obj.has_next %}
                                <a class="btn btn-sm btn-falcon-default ms-1" title="Next" href="?page={{ page_obj.next_page_number }}">
                                    <span class="fas fa-chevron-right"></span>
                                </a>
                            {% else %}
                                <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next" disabled>
                                    <span class="fas fa-chevron-right"></span>
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </nav>
            </div>
            
            
        </div>
    </div>


    <!-- <div class="card-footer">
        <div class="d-flex align-items-center justify-content-center">
            <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous"
                data-list-pagination="prev" disabled>
                <span class="fas fa-chevron-left"></span>
            </button>
            <ul class="pagination mb-0">
                <li class="page-item">
                    <button class="btn btn-sm btn-falcon-default me-1 mb-1 page" type="button">1</button>
                </li>
                <li class="page-item active">
                    <button class="btn btn-sm btn-falcon-default me-1 mb-1 page" type="button">2</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-sm btn-falcon-default me-1 mb-1 page" type="button">3</button>
                </li>
            </ul>
            <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next"
                data-list-pagination="next">
                <span class="fas fa-chevron-right"> </span>
            </button>
        </div>
    </div> -->

</div>






{% endblock content %}