{% extends 'layouts/master.html' %}

{% load static %}

{% block title %}
AddressPMS | Area Image
{% endblock title %}

{% block styles %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<style>
    .action li {
        display: inline;
    }

    .action li a {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
        line-height: 1.5;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /* table {
        text-align: center;
    } */
    table th {
        font-size: 15px;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="row mb-3">
  <div class="col-md-10">
    <div class="card h-100">
      <!-- <div class="bg-holder bg-card" 
        style="background-image:url(/static/assets/img/icons/spot-illustrations/corner-1.png);">
        </div> -->

      <div class="bg-holder bg-card"
        style="background-image:url({% static 'assets/img/icons/spot-illustrations/corner-1.png' %});">
      </div>
      <!--/.bg-holder-->

      <div class="card-header z-index-1">
        <div class="d-flex" style="justify-content: space-between;">
          <h4 class="text-primary mb-3">{{ area_image.title }}</h4>
          <h5>
            <a class="btn btn-konnect-default btn-sm" type="button" data-bs-toggle="modal"
              data-bs-target="#update-modal-{{area_image.id}}">
              <span class="d-none d-sm-inline-block">
                <i class="fa-solid fa-pen-to-square me-1"></i>
                Update
              </span>
            </a>
          </h5>
        </div>

        <h6 class="text-600">{{area_image.description}}</h6>
      </div>

      <!-- Image Content -->
      <div class="card-body z-index-1 mb-5">
        <div class="row g-2 h-100 align-items-end">

          <div class="col-sm-12 col-md-12">
            <div class="d-flex position-relative">
              <div class="icon-item icon-item-sm border rounded-3 shadow-none me-2">
                <i class="fa-solid fa-users-rectangle text-primary"></i>
              </div>
              <div class="flex-1">

                <h5 class="text-800 mb-0 mt-1">
                  Area Image Content
                  {% if area_image.areaimage_content.all.count < 7 %}
                    <a class="btn btn-konnect-default cursor-pointer btn-sm" type="button" data-bs-toggle="modal"
                      data-bs-target="#content-create-modal">
                      <span class="d-none d-sm-inline-block">
                        <i class="fa-solid fa-plus me-1"></i>
                        Add
                      </span>
                    </a>
                  {% endif %}
                </h5>
                <div class="table-responsive scrollbar mt-4">
                  <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                    <thead class="bg-light">
                      <tr class="text-900">
                        <th>No</th>
                        <th>City</th>
                        <th>Image</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for content in area_image.areaimage_content.all %}
                      <tr class="border-bottom border-200">
                        <td>{{forloop.counter}}</td>
                        <td>{{content.town}}</td>
                        <td>
                          {% if content.image %}
                            <a href="{{content.image.url}}" data-gallery="gallery-2">
                              <div class="avatar avatar-4xl">
                                <img class="img-fluid rounded" src="{{content.image.url}}" alt="" width="300" />
                              </div>
                            </a>
                          {% endif %}
                        </td>
                        <td>{{content.created_at|date:"d-M-Y"}}</td>
                        <td>{{content.updated_at|date:"d-M-Y"}}</td>
                        <td>
                          <ul class="action text-center p-0">
                            <li>
                                <a class="text-primary cursor-pointer me-2" 
                                  data-bs-toggle="modal" data-bs-target="#content-update-modal-{{content.id}}">
                                    <span class="fas fa-edit text-warning" data-fa-transform="grow-2"></span>
                                </a>
                            </li>
                            <li>
                                <a class="text-danger cursor-pointer" 
                                  data-bs-toggle="modal" data-bs-target="#content-delete-modal-{{content.id}}">
                                    <span class="fas fa-trash text-danger" data-fa-transform="grow-2"></span>
                                </a>
                            </li>
                        </ul>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



<!-- AreaImage Update Modal -->
<div class="modal fade" id="update-modal-{{area_image.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 800px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="modal-body p-0">
          <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
            <h4 class="mb-1" id="modalExampleDemoLabel">Update Title and Description</h4>
          </div>
          <div class="p-4 pb-0">

            <div class="mb-3">
              <label class="col-form-label" for="title">Title:</label>
              <input class="form-control" id="title" type="text" value="{{ area_image.title }}" name="title" required />
            </div>
            <div class="mb-3">
              <label class="col-form-label" for="description">Description:</label>
              <textarea class="form-control" id="description" rows="6" name="description" required>{{area_image.description}}</textarea>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" name="title_description_update">Update</button>
        </div>

      </form>
    </div>
  </div>
</div>



<!-- AreaImageContent Create Modal -->
<div class="modal fade" id="content-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body p-0">
          <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
            <h4 class="mb-1" id="modalExampleDemoLabel">Create Content</h4>
          </div>
          <div class="p-4 pb-0">

            <div class="mb-3">
              <label class="col-form-label" for="town">Town:</label>
              <input class="form-control" id="town" type="text" name="town" placeholder="Give Town" required />
            </div>

            <div class="mb-3">
              <label class="col-form-label" for="recipient-name">Image:</label>
              <input class="form-control" id="recipient-name" type="file" name="image" required />
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" name="content_create">Create</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- AreaImageContent Update Modal -->
{% for content in area_image.areaimage_content.all %}
<div class="modal fade" id="content-update-modal-{{content.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body p-0">
          <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
            <h4 class="mb-1" id="modalExampleDemoLabel">Update Content</h4>
          </div>
          <div class="p-4 pb-0">

            <div class="mb-3">
              <label class="col-form-label" for="town">Town:</label>
              <input class="form-control" id="town" type="text" name="town" placeholder="Give Town" value="{{content.town}}" required />
            </div>

            <div class="mb-3">
              <label class="col-form-label" for="recipient-name">Image:</label>
              {% if content.image %}
                <a class="ms-3" href="{{content.image.url}}" data-gallery="gallery-2">
                  <div class="avatar avatar-4xl">
                    <img class="img-fluid rounded" src="{{content.image.url}}" alt="" width="300" />
                  </div>
                </a>
              {% endif %}
              <input class="form-control" id="recipient-name" type="file" name="image" />
            </div>

            <input type="hidden" name="content_id" value="{{content.id}}">

          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" name="content_update">Update</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endfor %}


<!-- AreaImageContent Delete Modal -->
{% for content in area_image.areaimage_content.all %}
<div class="modal fade" id="content-delete-modal-{{content.id}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 400px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
          {% csrf_token %}
          <div class="modal-body p-0">
              <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                <h4 class="mb-1" id="modalExampleDemoLabel">Delete Conformation</h4>
              </div>
              <div class="p-4 pb-0">
                
                  <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
                      <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
                      <p class="mb-0">Are you sure to delete 
                          <strong>{{content.town}}</strong>?
                      </p>
                  </div>

                  <input type="hidden" name="content_delete_id" value="{{content.id}}">

              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" data-bs-dismiss="modal">
                  <i class="fa-solid fa-xmark me-2"></i>No
              </button>
              <button class="btn btn-danger" type="submit" name="content_delete">
                  <span class="fas fa-trash me-2"></span>Yes
              </button>
            </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock content %}