{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
Address PMS | Footer
{% endblock title %}



{% block content %}
<div class="row">
    <div class="col-md-10">
        <form class="card mb-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">
                            <span class="fas fa-solid fa-dice me-2"></span>
                            {{ footer_obj.name }}
                        </h5>
                    </div>
                </div>
            </div>
            

            <div class="card-body bg-light">
                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Logo</label>
                    <div class="col-md-5">
                        {{ form.logo }}
                        {% if footer_obj.logo %}
                            <div class="avatar avatar-4xl ms-3">
                                <a href="{{footer_obj.logo.url}}" data-gallery="gallery-2">
                                <img class="img-fluid rounded" src="{{footer_obj.logo.url}}" alt="" width="300" />
                                </a>
                            </div>
                        {% else %}
                            <span>Not Uploded!</span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Facebook</label>
                    <div class="col-md-5">
                        <input class="form-control" id="logo" type="url" name="facebook" 
                          value="{{ footer_obj.social_link.facebook|default:'' }}" placeholder="Give Facebook Url" required/>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Youtube</label>
                    <div class="col-md-5">
                        <input class="form-control" id="logo" type="url" name="youtube"
                          value="{{ footer_obj.social_link.youtube|default:'' }}" placeholder="Give Youtube Url" required />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Twitter</label>
                    <div class="col-md-5">
                        <input class="form-control" id="logo" type="url" name="twitter" 
                          value="{{ footer_obj.social_link.twitter|default:'' }}" placeholder="Give Twiter Url" required />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Instagram</label>
                    <div class="col-md-5">
                        <input class="form-control" id="logo" type="url" name="instagram" 
                          value="{{ footer_obj.social_link.instagram|default:'' }}" placeholder="Give Instagram Url" required />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Description</label>
                    <div class="col-md-9">
                        {{ form.description }}
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-2 col-form-label" for="type">Address</label>
                    <div class="col-md-9">
                        {{ form.contact_us }}
                    </div>
                </div>

            </div>
  

            <div class="form-group row">
                <div class="col-md-9 offset-md-2 card-footer">
                    <button type="submit" class="btn btn-primary ms-2 me-3">
                        <i class="fa fa-save me-2"></i>
                        Update
                    </button>

                    <a href="{% url 'footer:footer-detail' %}" class="btn btn-secondary">
                        <i class="fa fa-times me-2"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}