{% extends 'layouts/master.html' %}

{% load static %}
{% load embed_video_tags %}

{% block title %}
Address PMS | Update Property
{% endblock title %}


{% block styles %}
{% endblock styles %}


{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0" data-anchor="data-anchor"><i class="fa-solid fa-house me-2"></i>
                    Update Property
                </h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            
            <form class="row g-3 needs-validation" novalidate="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Property Owner</label>
                    {{ form.user }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Property Title</label>
                    {{ form.title }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Property Size 
                        <span>(Square Feet - ft²)</span>
                    </label>
                    {{ form.size }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">
                        Property Price 
                        (<i class="fa-solid fa-bangladeshi-taka-sign"></i>)
                    </label>
                    {{ form.price }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Property Bed</label>
                    {{ form.bed }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Property Bath</label>
                    {{ form.bath }}
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->
                <h5>Property Video</h5>
                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Property Video</label>
                    {{ form.video }}
                </div>

                <div class="col-md-6">
                    {% if property.video %}
                    <div class="ratio ratio-16x9">
                        {% video property.video 'small' %}
                    </div>
                    {% else %}
                    <div style="margin-top: 32px;">
                        <span class="badge badge-soft-danger fs-1">Not Uploded!</span>
                    </div>
                    {% endif %}
                </div>
                

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->
                <h5>Property Floor Plans</h5>
                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Floor Plans</label>
                    {{ form.floor_plans }}
                </div>
                <div class="col-md-6">
                    {% if property.floor_plans %}
                    <a href="{{property.floor_plans.url}}" data-gallery="gallery-2">
                        <img class="img-fluid rounded" src="{{property.floor_plans.url}}" alt="" width="300" />
                    </a>
                    {% else %}
                    <div style="margin-top: 32px;">
                        <span class="badge badge-soft-danger fs-1">Not Uploded!</span>
                    </div>
                    {% endif %}
                </div>
                

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <h5>Property Features</h5>
                <!--  -->
                <div class="col-md-6 mb-3">
                    <label class="form-label" for="validationCustom01">Features</label>
                    {{ form.property_features }}
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <h5>Property Purpose</h5>
                <!--  -->
                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Purpose</label>
                    {{ form.property_purpose }}
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <h5>Property Type</h5>
                <!--  -->
                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Type</label>
                    {{ form.property_type }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="sub-type">Sub-Type</label>
                    <select class="form-select" id="id_sub_type" size="1" style="height: 42px;"
                            name="sub_type" data-options='{"removeItemButton":true,"placeholder":true}'>
                        <option disabled>Select sub type</option>
                        {% for sub_type in sub_types %}
                            <option value="{{ sub_type.id }}" 
                                {% if sub_type.id == property.property_sub_type.id %}selected{% endif %}>
                                {{ sub_type.sub_type }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label ms-2" for="validationCustom01">
                        <i class="fa-solid fa-user-tie me-2"></i>Manage By Address-PMS
                    </label>
                    <div class="form-check form-switch ms-1">
                        <input class="form-check-input" id="id_manage_by" type="checkbox" name="manage_by" 
                               {% if property.manage_by %} checked="checked" {% endif %} />
                    </div>
                </div>

                <div class="col-md-6 form-check ">
                    <label class="form-label" for="id_hot_deals">
                        <i class="fa-solid fa-star me-2"></i>Hot Deals
                    </label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="id_hot_deals" type="checkbox" name="hot_deals"
                               {% if property.hot_deals %} checked="checked" {% endif %}/>
                    </div>
                </div>
                
                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->
                <div class="d-block">
                    <h5><i class="fa-solid fa-location-dot me-2"></i>Property Address</h5>
                    <div class="col-md-6">
                        <label class="form-label" for="validationCustom01">City</label>
                        <select class="form-select js-choice" id="organizerSingle" size="1" name="propery_address_city" data-options='{"removeItemButton":true,"placeholder":true}'>
                            {% for choice_key, choice_value in property.propertyaddress.BangladeshDistrict.choices %}
                                <option value="{{ choice_key }}"
                                    {% if choice_key == property_address.city %}selected{% endif %}>
                                    {{ choice_value }}
                                </option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    
                    
                    <div class="col-md-6">
                        <label class="form-label" for="validationCustom01">Home Address</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="propery_address_location">{{ property_address.location }}</textarea>
                    </div>
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->
                <div class="d-block">
                    <h5 class="mb-3"><i class="fa-solid fa-file-lines me-2"></i>Property Descriptsion</h5>
                    <div class="col-md-12">
                        {{ form.description }}
                    </div>
                </div>

                <div class="col-md-6">
                    <h5 class="mb-3">
                        <i class="fa-brands fa-creative-commons-sampling-plus me-2"></i>Property Status
                    </h5>
                    {{ form.property_status }}
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2 mt-5"></div>
                <!--  -->
                <div class="col-md-12">
                    <h5><i class="fa-solid fa-camera-retro me-2"></i>Property Images</h5>
                    <div class="col-md-6 col-sm-4 form-group row" id="multiple_files">
                        <input type="file" name="content_files" class="form-control ms-3 mt-2" id="content_files"
                            multiple>
                    </div>

                    <div class="row mt-3" id="file_list">

                    </div>
                </div>

                <div class="row mx-n1 mt-5">
                    {% for pro_img in pro_imgs %}
                        {% if pro_img.image %}
                        <div class="position-relative col-2 p-1" style="height: 200px;">
                            <a class="post1" href="{{ pro_img.image.url }}" data-gallery="gallery-1">
                                <img class="img-fluid rounded w-100 h-100" src="{{ pro_img.image.url }}" alt="" />
                            </a>
                            <button class="btn position-absolute top-0 end-0 property-img-delete-btn" type="button" value="{{pro_img.id}}">
                                <i class="fa-solid fa-xmark fa-2xl" style="color: #e42121;"></i>
                            </button>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if pro_imgs is null %}
                        <div style="margin-top: 32px;">
                            <span class="badge badge-soft-danger fs-1">Not Uploaded!</span>
                        </div>
                    {% endif %}
                </div>


                <div class="col-md-12 mt-3 ms-3">
                    <h5><i class="fa fa-tags"></i> Property Keyword</h5>
                    <div class="col-md-6 tag-input">
                        <div class="input d-flex justify-content-between">
                            <input type="text" name="keyword" class="form-control mt-2" id="tag-ip"
                                placeholder="Enter Keyword">
                            <button class="btn btn-primary ms-1 mt-2" type="button" onclick="addKeyword()">Add</button>

                            <!-- Hidden input field to store keywords -->
                            <input type="hidden" name="keywords" id="hidden-keywords" value="">
                        </div>
                        <div class="col-md-12 keyword-list mt-3 border border-1 border-secondary min-height-100 p-3 rounded-3">
                        {% for keyword in property.keywords %}
                            <span class="badge bg-dark dark__bg-dark m-1 p-2 _keyword">
                                {{ keyword }}
                                <i class="delete-btn ms-1 fas fa-times" onclick="DeleteKeyword('{{ property.id }}', '{{ keyword }}')"></i>
                            </span>
                        {% endfor %}
                        
                        
                        

                        </div>
                    </div>
                </div>
                

                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-9 d-flex">
                            <button type="submit" class="btn btn-primary me-2">
                                <i class="fa fa-save me-2"></i>
                                Update
                            </button>
                            <a href="{% url 'property:property-detail' property.id %}" class="btn btn-secondary">
                                <i class="fa fa-times me-2"></i>
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
             

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.1.js" ></script>


<!-- Type and Subtype -->
<script>
$(document).ready(function () {
    var propertyTypeSelect = $('#id_property_type');
    var subTypeSelect = $('#id_sub_type');

    propertyTypeSelect.on('change', function () {
        var selectedValue = $(this).val();
        console.log('Selected Property Type PK:', selectedValue);

        // Make an AJAX GET request to the API with the selected PK
        $.ajax({
            type: 'GET',
            url : `http://${window.location.host}/apis/property/property-subtypes/${selectedValue}/`,
            dataType: 'json',
            success: function (data) {
                subTypeSelect.empty();

                subTypeSelect.append($('<option>', {
                    value: '',
                    text: '------------------',
                    disabled: true,
                    selected: true, // You can also add this to make it the default selected option
                }));

                if (data && data.length > 0) {
                    data.forEach(function (item) {
                        console.log("Item ID = %s , Item Name = %s", item.id, item.sub_type);
                        subTypeSelect.append($('<option>', {
                            value: item.id,
                            text: item.sub_type
                        }));
                    });
                } else {
                    // Handle the case where no data is received
                    subTypeSelect.append($('<option>', {
                        value: '',
                        text: 'No sub-types available'
                    }));
                }
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    });
});
</script>


<!-- Delete Old Image -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.property-img-delete-btn');

        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                const imgId = this.value;

                Swal.fire({
                    title: "Are you sure?",
                    text: "You want to delete this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Perform Axios request to delete view
                        deleteImage(imgId);
                    }
                });
            });
        });

        function deleteImage(imgId) {
            const csrfToken = document.head.querySelector('meta[name="csrf-token"]').content;
            axios.defaults.headers.common['X-CSRFToken'] = csrfToken;

            const url = `/admin/property/property-img-delete/${imgId}/`;

            axios.delete(url)
                .then(response => {
                    if (response.data.success) {
                        return Swal.fire({
                            title: "Deleted!",
                            text: "Your image has been deleted.",
                            icon: "success"
                        });
                    } else {
                        return Swal.fire({
                            title: "Error",
                            text: "Failed to delete the file.",
                            icon: "error"
                        });
                    }
                })
                .then(() => {
                    // Reload the window after successful deletion
                    window.location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });
</script>


<!-- Add New Imagae -->
<script>
    $(document).ready(function () {

        const clear_input_file_btn_template = (id) => `
        <div class="position-relative" style="top: 24px; right: 4px; z-index: 1; cursor: pointer;">
            <button type="button" class="btn btn-sm btn-danger clear-file" data-file-id="${id}">
                <i class="fa fa-times"></i>
            </button>
        </div>
        `;

        const img_template = (id, url) => `
        <div class="col-auto" id="filepreview_${id}">
            ${clear_input_file_btn_template(id)}
            <img src="${url}" alt="content image" class="img-fluid" style="max-height: 100px;">
        </div>
        `;

        function render_type_with_input(type) {
            $('#content_files').attr({
                'accept': 'image/*',
                'multiple': 'multiple'
            })
        }

        $("#id_type").change(function () {
            render_type_with_input($(this).val());
            // clear file input
            $('#content_files').val('');
            $('#content_files').trigger('change');
        });
        render_type_with_input($('#id_type').val());


        $("#content_files").change(function () {
            for (let i = 0; i < this.files.length; i++) {
                const file = this.files[i];
                const url = URL.createObjectURL(file);
                $('#file_list').append(img_template(i, url));
            }
        });

        $('#file_list').on('click', '.clear-file', function () {
            const fileId = $(this).data('file-id');

            $(`#filepreview_${fileId}`).remove();
            $(`#filepreview_${fileId}`).remove();

            // Remove the file from the input field
            const fileInput = $('#content_files')[0];
            const dataTransfer = new DataTransfer();

            Array.from(fileInput.files).forEach((file, index) => {
                if (index !== fileId) {
                    dataTransfer.items.add(file);
                }
            });

            fileInput.files = dataTransfer.files;

        });

    });
</script>

<!-- For Keyword -->
<script>
    let keywords = [];

    function addKeyword() {
        let keywordInput = document.getElementById("tag-ip");
        let keyword = keywordInput.value.trim();

        if (keyword.length < 1 || keywords.includes(keyword)) {
            keywordInput.value = '';
            return;
        }

        keywords.push(keyword);

        let keywordItem = document.createElement("span");
        keywordItem.classList.add("badge", "bg-primary", "m-1", "p-2");
        keywordItem.innerHTML = `
    ${keyword}
    <i class="delete-btn ms-1 fas fa-times" onclick="deleteKeyword(this, '${keyword}')"></i>
  `;

        document.querySelector(".tag-input .keyword-list").appendChild(keywordItem);
        keywordInput.value = '';

        // Update hidden input value
        updateHiddenInput();
    }

    function deleteKeyword(ref, keyword) {
        let parent = ref.parentNode;
        parent.parentNode.removeChild(parent);
        let index = keywords.indexOf(keyword);
        keywords.splice(index, 1);

        // Update hidden input value
        updateHiddenInput();
    }

    function updateHiddenInput() {
        const hiddenInput = document.getElementById("hidden-keywords");
        if (hiddenInput) {
            hiddenInput.value = JSON.stringify(keywords);
        }
    }
</script>


<!-- <script>
    function deleteKeyword(propertyId, keyword) {
        var keywordElements = document.querySelectorAll('._keyword');
        keywordElements.forEach(function(element) {
            if (element.textContent.trim() === keyword) {
                element.remove();
            }
        });

        console.log("PropertyID =", propertyId);
        console.log("Keyword    =", keyword);

        // Send AJAX request to delete the keyword
        // fetch(`/delete-property-keyword/${propertyId}/`, {
        //     method: 'POST',
        //     headers: {
        //         'Content-Type': 'application/json',
        //         'X-CSRFToken': '{{ csrf_token }}',  // Include the CSRF token for security
        //     },
        //     body: JSON.stringify({ keyword: keyword }),
        // })
        // .then(response => response.json())
        // .then(data => {
        //     // Handle the response if needed
        //     console.log(data);
        // })
        // .catch(error => console.error('Error:', error));

        
    }

</script> -->
<script>
    function DeleteKeyword(propertyId, keyword) {
        var keywordElements = document.querySelectorAll('._keyword');
        keywordElements.forEach(function(element) {
            if (element.textContent.trim() === keyword) {
                element.remove();
            }
        });

        const csrfToken = document.head.querySelector('meta[name="csrf-token"]').content;
        axios.defaults.headers.common['X-CSRFToken'] = csrfToken;

        const url = `/admin/property/delete-property-keyword/${propertyId}/`;

        axios.delete(url, { data: { keyword: keyword } })
            .then(response => {
                if (response.data.success) {
                    return Swal.fire({
                        title: "Deleted!",
                        text: "Your keyword has been deleted.",
                        icon: "success"
                    });
                } else {
                    return Swal.fire({
                        title: "Error",
                        text: "Failed to delete the keyword.",
                        icon: "error"
                    });
                }
            })
            .then(() => {
                // Additional actions after successful deletion if needed
            })
            .catch(error => {
                console.error('Error:', error);
                // Display an error message with SweetAlert
                Swal.fire({
                    title: "Error",
                    text: "Failed to delete the keyword.",
                    icon: "error"
                });
            });
    }

</script>

{% endblock content %}